body {font-family: sans-serif; background-color: #ffffff; margin: 0; padding: 0; line-height: 1.3em; font-size: 1rem;}
.ga {font-weight: bold;}
.en {font-weight: normal;}

div.topbar {padding: 15px 0px; background-color: #006699;}
div.topbar div.inside {padding: 0px 20px; max-width: 1400px; margin: 0px auto;}
div.topbar a {color: #dddddd; text-decoration: none; padding: 11px 25px; margin-right: 8px; font-weight: bold; border-radius: 4px; white-space: nowrap;}
div.topbar a img {position: relative; top: 1px; width: 25px;}
div.topbar a span {margin-left: 1em;}
div.topbar a.focloir {background-color: #8b0000;}
div.topbar a.teanglann {background-color: #ea5c0f;}
div.topbar a:hover {color: #ffffff;}
div.topbar a.current {background-color: #ffffff; color: #006699; padding: 11px 25px 25px 25px; border-radius: 4px 4px 0px 0px;}
div.topbar a.current:hover {color: #2288bb;}
@media (max-width: 800px){
  div.topbar a span {display: none;}
}

div.footer {padding: 30px 0px 75px 0px; background-color: #dddddd; border-top: 3px dotted #ffffff; text-shadow: 1px 1px 0px #eeeeee; color: #666666;}
div.footer div.inside {padding: 0px 20px; max-width: 1400px; margin: 0px auto;}
div.footer div.statement {margin-top: 1em; line-height: 1.5em;}
div.footer div.statement div {}
div.footer div.statement span.label {}
div.footer div.statement a {color: #006699; text-decoration: none; white-space: nowrap;}
div.footer div.statement a:hover {color: #2288bb;}
div.footer div.icons {margin-top: 1.5em;}
div.footer div.icons a {font-size: 30px; text-decoration: none; margin-right: 0.5em; }
div.footer div.icons a.facebook {color: rgb(66, 103, 178);}
div.footer div.icons a.twitter {color: rgb(29, 161, 242);}
div.footer div.icons a:hover {position: relative; top: -1px;}
div.footer div.sitelinks {margin-top: 1em; box-sizing: border-box; overflow: auto;}
div.footer div.sitelinks a {display: block; text-decoration: none; color: #666666; position: relative; padding-left: 50px; margin: 15px 15px 15px 0px; float: left; width: 335px; box-sizing: border-box;}
div.footer div.sitelinks a:hover {color: #006699;}
div.footer div.sitelinks a span.icon {font-size: 25px; position: absolute; left: 0px; top: 5px;}
div.footer div.sitelinks a span {display: block;}
div.footer div.externalinks {margin-top: 1.75em; font-size: 1.1em; margin-left: -2px;}
div.footer div.externalinks span.sep {color: #aaaaaa; margin: 0 0.75em;}
div.footer div.externalinks a {text-decoration: none; font-weight: bold; white-space: nowrap;}
div.footer div.externalinks a img {width: 30px; position: relative; top: 1px; margin-right: 15px;}
div.footer div.externalinks a.tearma {color: #006699;}
div.footer div.externalinks a.tearma:hover {color: #2288bb;}
div.footer div.externalinks a.focloir {color: #8b0000;}
div.footer div.externalinks a.focloir:hover {color: #c72323;}
div.footer div.externalinks a.teanglann {color: #ea5c0f;}
div.footer div.externalinks a.teanglann:hover {color: #ff823e;}
@media (max-width: 800px){
  div.footer div.statement div {margin: 0.5em 0;}
  div.footer div.statement span.label {display: block;}
  div.footer div.externalinks span.sep {width: 1px; overflow: hidden; display: block;}
}
@media (max-width: 400px){
  div.footer div.sitelinks a {width: auto;}
}

div.envelope {padding: 0px 20px; max-width: 1400px; margin: 0px auto; min-height: 900px}
div.envelope div.rightie {width: 400px; float: right; padding-top: 40px; position: relative;}
div.envelope div.leftie {margin-right: 430px; padding-top: 20px; padding-bottom: 60px; position: relative;}
@media (max-width: 1200px){
  div.envelope div.rightie {width: auto; float: none;}
  div.envelope div.leftie {margin-right: auto;}
}

div.logobox {box-sizing: border-box; padding: 0px 20px;}
div.logobox a.logo {display: block; width: 300px; margin: 0px -10px}
div.logobox a.logo img {width: 100%;}
div.logobox a.logo:hover {position: relative; top: -1px;}
div.logobox div.title {margin: 10px 0px 0px 0px; color: #666666; line-height: 1.5em;}
div.logobox div.icons {margin: 20px 0px 0px 0px;}
div.logobox div.icons a {font-size: 30px; text-decoration: none; margin-right: 0.5em; }
div.logobox div.icons a.facebook {color: rgb(66, 103, 178);}
div.logobox div.icons a.twitter {color: rgb(29, 161, 242);}
div.logobox div.icons a:hover {position: relative; top: -1px;}
@media (max-width: 1200px){
  div.logobox {padding: 0px 10px;}
  div.logobox div.icons {display: none;}
}
@media (max-width: 600px){
  div.logobox {padding: 0px 10px;}
  div.logobox a.logo img {width: 85%;}
}

a.kickboxToggler {display: none; margin-top: 30px; text-decoration: none; color: #666666; position: relative; padding-left: 75px; margin-left: -10px;}
a.kickboxToggler.mergeUp {margin-top: 20px;}
a.kickboxToggler:hover {color: #006699;}
a.kickboxToggler span.icon {font-size: 25px; position: absolute; left: 10px; top: 0px; background-color: #d5d997; box-sizing: border-box; padding: 10px 15px; border-radius: 4px; text-shadow: 1px 1px 0px #eeeeee;}
a.kickboxToggler span {display: block;}
@media (max-width: 1200px){
  a.kickboxToggler {display: inline-block;}
}

div.kickbox {margin-top: 30px; background-color: #d5d997; box-sizing: border-box; padding: 10px 20px; border-radius: 4px; text-shadow: 1px 1px 0px #eeeeee;}
div.kickbox div.sep {border-top: 2px solid #ffffff; margin: 0px -20px; height: 0px;}
div.kickbox a.sitelink {display: block; text-decoration: none; color: #666666; position: relative; padding-left: 55px; margin: 20px 0px;}
div.kickbox a.sitelink:hover {color: #006699;}
div.kickbox a.sitelink span.icon {font-size: 25px; position: absolute; left: 5px; top: 5px;}
div.kickbox a.sitelink span {display: block;}
div.kickbox a.langlink {display: block; text-decoration: none; color: #666666; position: relative; padding-left: 55px; margin: 20px 0px;}
div.kickbox a.langlink:hover {color: #006699;}
div.kickbox a.langlink span.icon {position: absolute; left: 0px; top: 5px; background-color: #666666; color: #d5d997; border-radius: 4px; padding: 3px 0px; width: 40px; box-sizing: border-box; text-align: center; font-size: 0.9em; text-shadow: 0px 0px 0px transparent; font-weight: bold; box-shadow: 1px 1px 0px #eeeeee;}
div.kickbox a.langlink span {display: block;}
div.kickbox a.langlink.selected {background-color: #ffffff; margin: 0px -10px 0px -10px; padding: 10px 10px 10px 65px; border-radius: 4px}
div.kickbox a.langlink.selected span.icon {left: 10px; top: 15px;}
@media (max-width: 1200px){
  div.kickbox {display: none;}
}

div.swapper {height: 84px; position: relative; border-bottom: 1px solid #cccccc; margin-bottom: 30px;}
div.swapper a {display: block; float: left; color: #bbbbbb; position: relative; padding: 20px 60px 20px 85px; text-decoration: none; margin-right: 20px; box-sizing: border-box; height: 89px;}
div.swapper a span.icon {font-size: 30px; position: absolute; left: 35px; top: 25px; text-shadow: -1px -1px 0px #aaaaaa;}
div.swapper a:first-child {padding-left: 65px;}
div.swapper a:first-child span.icon {left: 15px;}
div.swapper a:last-child {margin-right: 0px;}
div.swapper a span {display: block; white-space: nowrap;}
div.swapper a:hover {color: #555555;}
div.swapper a:hover span.icon {text-shadow: -1px -1px 0px #999999;}
div.swapper a.current {color: #555555; border-bottom: 8px solid #555555;}
div.swapper a.current span.icon {text-shadow: -1px -1px 0px #999999;}
@media (max-width: 1300px){
  div.swapper a {padding-right: 20px;}
  div.swapper a:first-child {padding-left: 85px;}
  div.swapper a:first-child span.icon {left: 35px;}
  div.swapper a span.ga {display: none;}
  div.swapper a span.en {display: none;}
}
@media (max-width: 1200px){
  div.swapper a {padding-right: 60px;}
  div.swapper a:first-child {padding-left: 65px;}
  div.swapper a:first-child span.icon {left: 15px;}
  div.swapper a span.ga {display: block;}
  div.swapper a span.en {display: block;}
}
@media (max-width: 900px){
  div.swapper a {padding-right: 20px;}
  div.swapper a:first-child {padding-left: 85px;}
  div.swapper a:first-child span.icon {left: 35px;}
  div.swapper a span.ga {display: none;}
  div.swapper a span.en {display: none;}
}
@media (max-width: 600px){
  div.swapper a {padding-right: 5px;}
  div.swapper a {padding-left: 70px;}
  div.swapper a span.icon {left: 20px;}
  div.swapper a:first-child {padding-left: 70px;}
  div.swapper a:first-child span.icon {left: 20px;}
  div.swapper a span.ga {display: none;}
  div.swapper a span.en {display: none;}
}

form.textbox {box-shadow: 0px 0px 5px #333333; border-radius: 4px; position: relative; border: 1px solid #666666;}
form.textbox div.text {box-sizing: border-box; margin-right: 65px; border-radius: 4px;}
form.textbox div.text input {box-sizing: border-box; font: inherit; padding: 15px; font-size: 1.25em; width: 100%; border: 0px; border-radius: 4px 0px 0px 4px; font-weight: bold;}
form.textbox button.submit {font: inherit; line-height: 1.15em; text-align: left; padding-left: 60px;
  display: inline-block; position: absolute; top: 0px; right: 0px; bottom: 0px; width: 50px;
  background-color: #eaedc8; border: 0px; color: #666666; text-shadow: 1px 1px 0px #eeeeee;
  cursor: pointer; border-radius: 0px 4px 4px 0px;}
form.textbox button.submit:hover {color: #006699;}
form.textbox button.submit:active {color: #006699; box-shadow: inset 0px 0px 2px #666666;}
form.textbox button.submit span.icon {font-size: 25px; position: absolute; left: 20px; top: 12px;}

form.multiline {position: relative;}
form.multiline div.lines {box-shadow: 0px 0px 5px #333333; border-radius: 4px; position: relative; border: 1px solid #666666;}
form.multiline div.lines div.line {box-sizing: border-box; border-bottom: 1px solid #666666; position: relative;}
form.multiline div.lines div.line div.label {position: absolute; top: 0px; left: 0px; bottom: 0px; width: 30%; color: #666666; background-color: #eeeeee; box-sizing: border-box; font-size: 0.95em; padding: 10px 10px; line-height: 1.2em; overflow: hidden; text-shadow: 1px 1px 0px #ffffff;}
form.multiline div.lines div.line div.label span {display: block; white-space: nowrap;}
form.multiline div.lines div.line input {box-sizing: border-box; display: block; font: inherit; padding: 15px; font-size: 1.25em; margin-left: 30%; width: 70%; border: 0px; background-color: #ffffff; font-weight: bold;}
form.multiline div.lines div.line select {box-sizing: border-box; display: block; font: inherit; padding: 16px 10px; font-size: 1em; margin-left: 30%; width: 70%; border: 0px; background-color: #ffffff; }
form.multiline div.lines div.line select option {padding: 0px 0px; font: inherit;}
form.multiline div.lines div.line:first-child {border-radius: 4px 4px 0px 0px;}
form.multiline div.lines div.line:first-child div.label {border-radius: 4px 0px 0px 0px;}
form.multiline div.lines div.line:first-child input {border-radius: 0px 4px 0px 0px;}
form.multiline div.lines div.line:first-child select {border-radius: 0px 4px 0px 0px;}
form.multiline div.lines div.line:last-child {border-radius: 0px 0px 4px 4px; border-bottom: 0px; box-sizing: border-box;}
form.multiline div.lines div.line:last-child div.label {border-radius: 0px 0px 0px 4px;}
form.multiline div.lines div.line:last-child input {border-radius: 0px 0px 4px 0px;}
form.multiline div.lines div.line:last-child select {border-radius: 0px 0px 4px 0px;}
form.multiline button.submit {font: inherit; text-align: left; padding: 9px 25px 7px 60px;
  background-color: #eaedc8; color: #666666; text-shadow: 1px 1px 0px #eeeeee;
  cursor: pointer; border-radius: 4px;
  position: relative; float: right; margin-top: 15px;
  box-shadow: 0px 0px 5px #333333; border: 1px solid #666666;
  font-size: 0.95em; line-height: 1.2em;
}
form.multiline button.submit:hover {color: #006699;}
form.multiline button.submit:active {color: #006699; box-shadow: inset 0px 0px 2px #666666;}
form.multiline button.submit span.icon {font-size: 25px; position: absolute; left: 20px; top: 14px;}
form.multiline button.submit span {display: block;}
@media (max-width: 500px){
  form.multiline div.lines div.line div.label {display: none;}
  form.multiline div.lines div.line input {margin-left: 0; width: 100%}
  form.multiline div.lines div.line select {margin-left: 0; width: 100%}
  form.multiline button.submit {height: 55px; padding-right: 5px;}
  form.multiline button.submit span.ga {display: none;}
  form.multiline button.submit span.en {display: none;}
}


div.underform {margin-top: 15px; margin-bottom: 15px; padding: 0px 10px; position: relative; overflow: auto;}
div.underform div.left {color: #999999;}
div.underform div.left span {display: block;}
div.underform a {text-decoration: none; color: #006699;}
div.underform a:hover {color: #2288bb;}
@media (max-width: 800px){
  div.underform {display: none;}
}

div.similars {margin-top: 1.75em; padding: 0px 10px; font-size: 1.1em;}
div.similars span.sep {color: #999999; font-weight: bold;}
div.similars a {color: #999999; text-decoration: none; font-weight: bold;}
div.similars a:hover {color: #006699;}

div.sectitle {margin-top: 2.5em; color: #555555; position: relative; padding: 10px 0px 20px 65px; border-bottom: 1px solid #cccccc;}
div.sectitle span.icon {font-size: 30px; position: absolute; left: 15px; top: 15px; text-shadow: -1px -1px 0px #999999;}
div.sectitle span {display: block;}

div.pager {text-align: center; color: #555555; position: relative; padding: 10px 5px 10px 5px; border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc; margin-top: 20px;}
div.pager.alone {margin-top: 50px;}
div.pager span.dots {color: #af0707; white-space: nowrap; margin: 0px 5px; display: inline-block;}
div.pager a {text-decoration: none; font-weight: bold; color: #666666; display: inline-block; padding: 10px 20px; border-radius: 2px; border: 1px solid transparent; }
div.pager a.page {margin: 0px -5px;}
div.pager a.page:hover {color: #006699; background-color: #eeeeee;}
div.pager a.page.current {background-color: #666666; color: #ffffff; margin: 0px;}
div.pager a.arrow {background-color: #dddddd; border: 1px solid #dddddd;}
div.pager a.arrow.left {float: left;}
div.pager a.arrow.right {float: right;}
div.pager a.arrow:hover {border-color: #003366;}
div.pager a.arrow:active {border-color: #003366; box-shadow: inside 0px 0px 2px #666666;}
@media (max-width: 1400px){
  div.pager span.dots {display: none;}
  div.pager a.page {display: none;}
  div.pager a.page.current {display: inline-block;}
}
@media (max-width: 1200px){
  div.pager span.dots {display: inline-block;}
  div.pager a.page {display: inline-block;}
}
@media (max-width: 900px){
  div.pager span.dots {display: none;}
  div.pager a.page {display: none;}
  div.pager a.page.current {display: inline-block;}
}

div.domains {}
div.domains.formlike {box-shadow: 0px 0px 5px #333333; border-radius: 4px; position: relative; border: 1px solid #666666; margin: 20px 0px;}
div.domains.formunlike {margin-top: -25px;}
div.domains a.domain {display: block; text-decoration: none; padding: 10px; margin: 1px 0; color: #444444; box-sizing: border-box; border-bottom: 1px solid #cccccc; overflow: auto; overflow-x: hidden; position: relative;}
div.domains a.domain:hover {color: #006699; background-color: #eeeeee;}
div.domains a.domain.selected {background-color: #eaedc8; text-shadow: 1px 1px 0px #ffffff; }
div.domains a.domain span {display: block;}
div.domains a.domain span.ga {float: left; width: 48%;}
div.domains a.domain span.en {margin-left: 52%;}
div.domains a.domain span.arrow {position: absolute; top: 9px; right: 10px; font-weight: bold; font-size: 1.5em; color: #eeeeee;}
div.domains a.domain:hover span.arrow {color: inherit;}
div.domains a.domain.L0 {}
div.domains a.domain.L1 span {padding-left: 1em;}
div.domains a.domain.L2 span {padding-left: 2.5em;}
div.domains a.domain.L3 span {padding-left: 5em;}
div.domains a.domain.L4 span {padding-left: 7.5em;}
@media (max-width: 800px){
  div.domains a.domain span.arrow {display: none;}
}

a.domainAction {display: inline-block; text-decoration: none; color: #666666; position: relative; padding-left: 65px; padding-right: 10px; margin: 0px 0px;}
a.domainAction:hover {color: #006699;}
a.domainAction span.icon {font-size: 30px; position: absolute; left: 15px; top: 5px;}
a.domainAction span {display: block;}

div.tbd {margin-top: 1em; background-color: #f6f6f6;}
div.nojoy {margin: 1em 0; color: #999999;}
div.unheadedListing {margin: 3em 0;}
div.entry {border-top: 1px solid #cccccc; padding: 0.5em 0 1em 0; margin-top: -1px;}
