span.prettyMetadatum {}
span.prettyMetadatum span.abbr {font-weight: bold;}

div.prettyEntry.small {font-size: 1em; padding-bottom: 10px; position: relative;}

div.prettyEntry.small span.commentCount {float: right; display: block; box-sizing: border-box; background-image: url(../furniture/comment.png); background-position: center right+5px; background-repeat: no-repeat; border: 1px solid #dddddd; padding: 1px 25px 1px 5px; border-radius: 2px; position: relative; top: -2px; margin-right: 5px;}
div.prettyEntry.small span.commentCount span.num {color: #dd0000; font-size: 75%;}

div.prettyEntry.small div.prettyDomain {font-size: 0.8em; position: relative; background: linear-gradient(to right, #eeeeee 0%, transparent 50%); padding: 2px 5px; margin: 0px 0px 5px 0px; border-radius: 4px;}
div.prettyEntry.small div.prettyDomain span.step > span:first-child {font-weight: bold;}

div.prettyEntry.small div.prettyDesig {position: relative; padding-left: 2.5em; margin: 5px 0px;}
div.prettyEntry.small div.prettyDesig span.prettyLang {display: block; width: 2.5em; background-color: #eeeeee; text-align: center; position: absolute; top: 0px; left: 0px; text-shadow: 1px 1px 0px #ffffff; border-radius: 4px; font-size: 0.8em;}
div.prettyEntry.small div.prettyDesig span.clarif {font-style: italic; font-size: 0.8em;}
div.prettyEntry.small div.prettyDesig span.accept {font-style: italic; color: #947253; font-size: 0.8em;}
div.prettyEntry.small div.prettyDesig div.inflects {font-size: 0.8em;}
div.prettyEntry.small div.prettyDesig div.inflects span.inflect {}
div.prettyEntry.small div.prettyDesig div.inflects span.inflect span.abbr {font-style: italic; color: #536d94;}
div.prettyEntry.small div.prettyDesig div.inflects span.inflect span.wording {font-weight: bold;}
div.prettyEntry.small div.prettyDesig span.prettyWording {font-weight: bold; color: #333333;}
div.prettyEntry.small div.prettyDesig span.prettyWording span.char {}
div.prettyEntry.small div.prettyDesig span.prettyWording span.char.on {}
div.prettyEntry.small div.prettyDesig span.prettyWording span.label.on {}
div.prettyEntry.small div.prettyDesig span.prettyWording span.label {font-style: italic; color: #536d94; font-weight: normal; padding-left: 0.4em; padding-right: 0.4em; margin-right: -0.3em; cursor: default;}
div.prettyEntry.small div.prettyDesig span.prettyWording span.label.posLabel {}
div.prettyEntry.small div.prettyDesig span.prettyWording span.label.inflectLabel {}
div.prettyEntry.small div.prettyDesig span.prettyWording span.label.langLabel {}
div.prettyEntry.small div.prettyDesig span.prettyWording span.label.symbol {font-style: normal;}

div.prettyEntry.small div.prettyDesig.grey span.prettyWording {color: #999999;}
div.prettyEntry.small div.prettyDesig.grey div.inflects span.inflect span.wording {color: #999999;}
div.prettyEntry.small div.prettyDesig.grey div.inflects span.inflect span.abbr {color: #999999;}
div.prettyEntry.small div.prettyDesig.grey span.prettyWording span.label {color: #999999;}
div.prettyEntry.small div.prettyDesig.grey span.clarif {color: #999999;}
div.prettyEntry.small div.prettyDesig.grey span.accept {color: #999999;}

div.prettyEntry.small div.prettyDesig.minor span.prettyWording {font-size: 0.8em; color: #666666; }

div.prettyEntry.small div.prettyIntro {position: relative; padding-left: 3em; margin: 5px 0px; font-style: italic; text-transform: uppercase; font-size: 0.8em;}

div.prettyEntry.small div.prettyBin {margin: 10px 0px 0px 0px; font-size: 0.8em;}
div.prettyEntry.small div.prettyBin span.boxick {position: relative; background-color: #bbe2de; padding: 2px 5px; margin: 0px 5px 0px 0px; border-radius: 4px;}
div.prettyEntry.small div.prettyBin img {position: relative; top: 3px; margin: 0px 5px;}
div.prettyEntry.small div.prettyBin img.arrow {#bbe2de; padding: 0px 5px; border-radius: 4px; border: 1px solid #bbe2de; top: 4px;}
div.prettyEntry.small div.prettyBin img.status {}
div.prettyEntry.small div.prettyBin span.date {margin: 0px 10px 0px 0px;}
