div.prettyEntry {font-size: 1.15em; padding: 15px 0px; line-height: 1.25em; color: #333333; position: relative;}

[dir="ltr"] div.prettyEntry a.prettyAnchor {position: absolute; top: 17px; left: -25px; color: #999999; text-decoration: none;}
[dir="rtl"] div.prettyEntry a.prettyAnchor {position: absolute; top: 17px; right: -25px; color: #999999; text-decoration: none;}
div.prettyEntry a.prettyAnchor:hover {color: var(--link)}

div.prettyEntry .hintable {cursor: default;}
div.prettyEntry .hintable:hover {border-bottom: 2px dotted #666666 !important;}

[dir="ltr"] div.prettyEntry div.prettySources {padding: 5px 0px 0px 5px; font-size: 0.75em; color: #999999;}
[dir="rtl"] div.prettyEntry div.prettySources {padding: 5px 5px 0px 0px; font-size: 0.75em; color: #999999;}
div.prettyEntry div.prettyDesig div.prettySources {padding-inline-start: 0px;}
div.prettyEntry div.prettySources div.source {}

div.prettyEntry div.prettyRow {}
[dir="ltr"] div.prettyEntry div.prettyRow > div.clear {clear: left;}
[dir="rtl"] div.prettyEntry div.prettyRow > div.clear {clear: right;}
[dir="ltr"] div.prettyEntry div.prettyCell {float: left; box-sizing: border-box; padding-left: 15px; min-height: 1em; overflow-x: hidden;}
[dir="rtl"] div.prettyEntry div.prettyCell {float: right; box-sizing: border-box; padding-right: 15px; min-height: 1em; overflow-x: hidden;}
[dir="ltr"] div.prettyEntry div.prettyCell:first-child {padding-left: 0px;}
[dir="rtl"] div.prettyEntry div.prettyCell:first-child {padding-right: 0px;}
@media (max-width: 800px){
  [dir="ltr"] div.prettyEntry div.prettyCell {float: none; padding-left: 0px; width: auto !important;}
  [dir="rtl"] div.prettyEntry div.prettyCell {float: none; padding-right: 0px; width: auto !important;}
}

[dir="ltr"] div.prettyEntry div.prettyRow.domain {font-size: 0.8em; position: relative; background: linear-gradient(to right, #bbe2de 0%, transparent 100%); padding: 2px 6px; margin: 0px 0px 8px 0px; border-radius: 4px; text-shadow: 1px 1px 0px #ffffff;}
[dir="rtl"] div.prettyEntry div.prettyRow.domain {font-size: 0.8em; position: relative; background: linear-gradient(to left, #bbe2de 0%, transparent 100%); padding: 2px 6px; margin: 0px 0px 8px 0px; border-radius: 4px; text-shadow: 1px 1px 0px #ffffff;}
@media (max-width: 800px){
  div.prettyEntry div.prettyRow.domain div.prettyCell {border-top: 1px dashed #ffffff; padding-top: 2px; margin-bottom: 2px;}
  div.prettyEntry div.prettyRow.domain div.prettyCell:first-child {border-top: 0px; padding-top: 0px; margin-top: 0px;}
}

div.prettyEntry div.prettyRow.definition {border-top: 1px solid #eeeeee; padding: 13px 0px;}
div.prettyEntry span.prettyDefinition {display: block; font-size: 0.8em; padding-left: 5px;}
div.prettyEntry span.prettyDefinition span.domain {display: inline-block; background-color: #d7edeb; padding: 2px 6px; border-radius: 4px; text-shadow: 1px 1px 0px #ffffff;}
[dir="ltr"] div.prettyEntry span.prettyDefinition span.domain:first-child {margin-left: -5px;}
[dir="rtl"] div.prettyEntry span.prettyDefinition span.domain:first-child {margin-right: -5px;}
div.prettyEntry span.prettyDefinition span.text {}

div.prettyEntry div.prettyRow.example {border-top: 1px solid #eeeeee; padding: 13px 0px;}
div.prettyEntry div.prettyExample {display: block; font-size: 0.8em; padding-left: 5px;}
div.prettyEntry div.prettyExample div.sentence {font-weight: bold; color: #333333; margin-top: 5px;}
div.prettyEntry div.prettyExample div.sentence:first-child {margin-top: 0px;}

div.prettyEntry div.prettyRow.note {border-top: 1px solid #eeeeee; padding: 13px 0px;}
div.prettyEntry span.prettyNote {display: block; font-size: 0.8em; padding-left: 5px;}
div.prettyEntry span.prettyNote span.type {display: inline-block; background-color: #ececec; padding: 2px 6px; border-radius: 4px; text-shadow: 1px 1px 0px #ffffff;}
div.prettyEntry span.prettyNote span.type:first-child {margin-left: -5px;}
div.prettyEntry span.prettyNote span.text {}

div.prettyEntry div.collections {border-top: 1px solid #eeeeee; padding: 10px 5px; font-size: 0.75em; color: #999999;}
@media (max-width: 800px){
  div.prettyEntry div.collections div {margin-bottom: 10px;}
}

div.prettyEntry div.prettyRow.majorTerms {border-top: 1px solid #eeeeee; padding: 3px 0px;}
div.prettyEntry div.prettyRow.minorTerms {border-top: 1px solid #eeeeee; padding: 13px 0px;}

[dir="ltr"] div.prettyEntry div.prettyDesig {position: relative; padding-left: 2.5em; margin: 10px 0px;}
[dir="rtl"] div.prettyEntry div.prettyDesig {position: relative; padding-right: 2.5em; margin: 10px 0px;}
[dir="ltr"] div.prettyEntry div.prettyDesig span.prettyLang {display: block; width: 2.5em; background-color: #eeeeee; text-align: center; position: absolute; top: 0px; left: 0px; text-shadow: 1px 1px 0px #ffffff; border-radius: 4px; font-size: 0.8em; border: 1px solid #86d1c9;}
[dir="rtl"] div.prettyEntry div.prettyDesig span.prettyLang {display: block; width: 2.5em; background-color: #eeeeee; text-align: center; position: absolute; top: 0px; right: 0px; text-shadow: 1px 1px 0px #ffffff; border-radius: 4px; font-size: 0.8em; border: 1px solid #86d1c9;}
div.prettyEntry div.prettyDesig span.clarif {font-style: italic; font-size: 0.8em;}
div.prettyEntry div.prettyDesig span.accept {font-style: italic; color: #947253; font-size: 0.8em;}
div.prettyEntry div.prettyDesig div.inflects {font-size: 0.8em;}
div.prettyEntry div.prettyDesig div.inflects span.inflect {}
div.prettyEntry div.prettyDesig div.inflects span.inflect span.abbr {font-style: italic; color: #536d94;}
div.prettyEntry div.prettyDesig div.inflects span.inflect span.wording {}
div.prettyEntry div.prettyDesig a.prettyWording {font-weight: bold; color: #333333; text-decoration: none; overflow-wrap: break-word;}
div.prettyEntry div.prettyDesig a.prettyWording:hover {color: var(--link);}
div.prettyEntry div.prettyDesig a.prettyWording span.char {}
div.prettyEntry div.prettyDesig a.prettyWording span.char.on {background-color: #eff5ca; box-shadow: 0px 0px 5px #e4e3af;}
div.prettyEntry div.prettyDesig a.prettyWording span.label.on {background-color: #eff5ca;}
[dir="ltr"] div.prettyEntry div.prettyDesig a.prettyWording span.label {font-style: italic; color: #536d94; font-weight: normal; padding-left: 0.4em; padding-right: 0.4em; margin-right: -0.3em; cursor: default;}
[dir="rtl"] div.prettyEntry div.prettyDesig a.prettyWording span.label {font-style: italic; color: #536d94; font-weight: normal; padding-left: 0.4em; padding-right: 0.4em; margin-left: -0.3em; cursor: default;}
div.prettyEntry div.prettyDesig a.prettyWording span.label.posLabel {}
div.prettyEntry div.prettyDesig a.prettyWording span.label.inflectLabel {}
div.prettyEntry div.prettyDesig a.prettyWording span.label.langLabel {}
div.prettyEntry div.prettyDesig a.prettyWording span.label.symbol {font-style: normal;}

div.prettyEntry div.prettyDesig.grey {color: #999999;}
div.prettyEntry div.prettyDesig.grey a.prettyWording {color: #999999;}
div.prettyEntry div.prettyDesig.grey div.inflects span.inflect span.wording {color: #999999;}
div.prettyEntry div.prettyDesig.grey div.inflects span.inflect span.abbr {color: #999999;}
div.prettyEntry div.prettyDesig.grey a.prettyWording span.label {color: #999999;}
div.prettyEntry div.prettyDesig.grey span.clarif {color: #999999;}
div.prettyEntry div.prettyDesig.grey span.accept {color: #999999;}

[dir="ltr"] div.prettyEntry .minorTerms div.prettyDesig {margin: 0px; margin-right: 0em; }
[dir="rtl"] div.prettyEntry .minorTerms div.prettyDesig {margin: 0px; margin-left: 0em; }
div.prettyEntry .minorTerms div.prettyDesig span.prettyLang {font-size: 0.7em; width: 1.75em; padding: 0px 8px; border: 0px;}
div.prettyEntry .minorTerms div.prettyDesig a.prettyWording {font-size: 0.8em; color: #666666; white-space: nowrap;}

[dir="ltr"] div.prettyEntry div.prettyIntro {position: relative; padding-left: 3em; margin: 5px 0px; font-style: italic; text-transform: uppercase; font-size: 0.8em; color: #666666;}
[dir="rtl"] div.prettyEntry div.prettyIntro {position: relative; padding-right: 3em; margin: 5px 0px; font-style: italic; text-transform: uppercase; font-size: 0.8em; color: #666666;}

a.step {text-decoration: none; color: inherit;}
a.step:hover {color: #336699;}
