body {
  background-image: url(header-back.gif); background-position: right top; background-repeat: no-repeat;
  font-family: sans-serif; background-color: #ffffff; margin: 0; padding: 0; line-height: 1.3em; font-size: 1rem;
}
.envelope {max-width: 1000px; margin: 0px auto; padding: 0px 60px; }

img.pic {width: 100%; border: 1px solid #046f62; border-radius: 6px; box-shadow: 0px 0px 8px #333333;}

div.parallel {font-size: 1.25em; color: #555555; line-height: 1.3em; text-align: left; margin: 90px 0px 70px 0px;}
div.parallel > div.column {float: left; width: 50%; box-sizing: border-box; padding-left: 20px;}
div.parallel > div.column:first-child {padding-left: 0px; padding-right: 20px;}
div.parallel > div.clear {clear: left;}
@media (max-width: 800px){
  div.parallel {margin-top: 60px;}
  div.parallel > div.column {float: none; width: auto; padding: 0px !important; margin-top: 30px;}
}

div.line {margin: 10px 0px;}
div.line.tag {color: #07776a; font-weight: bold;}

div.footer {margin: 70px 0px 90px 0px; color: #555555; line-height: 1.3em;}
div.footer img {float: left;}
div.footer div.body {margin: 0px 0px 0px 100px;}
div.footer a {color: #336699; text-decoration: none;}
div.footer a:hover {color: #6699cc;}
@media (max-width: 800px){
  div.footer {margin-bottom: 60px;}
}
