@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Light";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}
body {
  font-family: "Roboto Light", serif; font-size: 1rem;
  margin: 0px; padding: 0px;
  background-color: #f9f9f9; text-shadow: 1px 1px 0px #eeeeee; color: #333333;
  user-select: none;
  overflow: hidden;
}
*:focus {
  outline-offset: 5px;
  outline-color: #6699cc;
  outline-style: dotted;
  outline-width: 1px;
}
button {
  font: inherit;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
  padding: 2px 10px;
  box-shadow: 1px 1px 0px #999999;
}
button:active {
  box-shadow: -1px -1px 0px #999999;
}
label {
  cursor: pointer;
}
label:hover {
  color: #000000;
}

div#leftmenu {
  box-sizing: border-box;
  position: absolute; left: 0px; top: 0px; width: 300px; bottom: 0px;
  background-color: #eeeeee; border-right: 1px solid #dddddd;
  color: #666666; text-shadow: 1px 1px 0px #ffffff;
}
div#home {
  background-image: url(img/terminologue-header.png); background-position: center; background-repeat: no-repeat;
  width: 160px; height: 30px;
  margin: 25px 0px 30px 20px;
}
div#leftmenu div.menuheading {
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 10px 20px;
  color: #999999;
}
div#leftmenu div.menuitem {
  padding: 10px 0px 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
div#leftmenu div.menuitem:hover {
  color: #000000;
}
div#leftmenu div.menuitem.current {
  background-color: #03A491;
  color: #ffffff; text-shadow: 0px 0px 0px transparent;
}
div#leftmenu > div.disabler {
  display: none;
}
div#leftmenu.disabled > div.disabler {
  display: block;
  position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
  background-color: #dddddd;
  opacity: 0.5;
}


div#space {
  position: absolute; left: 301px; top: 0px; right: 0px; bottom: 0px;
}
div.block {
  display: none;
  max-width: 80%; margin: 75px auto;
}
div.block > div.title {
  margin: 0px 0px 40px 0px;
  font-size: 1.5em;
  color: #047063;
  font-weight: bold;
}

div.box {
  border: 1px inset #dddddd; border-radius: 2px; box-shadow: 1px 1px 0px #ffffff;
  background-color: #ffffff;
  padding: 23px 15px 15px 15px;
  text-shadow: 0px 0px 0px transparent;
  position: relative;
  margin: 25px 0px 20px 0px;
  min-height: 1.55em;
}
div.box > div.title {
  position: absolute; top: -0.5em; left: 10px;
  background-color: #ffffff; padding: 0px 5px; border-radius: 20px;
  color: #666666;
  font-size: 0.9em;
  z-index: 1;
}
div.box > div.disabler {
  display: none;
}

div.box.disabled > div.disabler {
  display: block;
  position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
  background-color: #dddddd;
  opacity: 0.5;
}
div.box.disabled > div.title {
  background-color: #eeeeee !important;
  color: #999999 !important;
}

div.box div.path {
  position: relative;
}
div.box div.path > input {
  font-family: monospace; font-size: 1.5em;
  width: 100%;  border: 0px;
}
div.box div.path > button {
  position: absolute; top: 0px; right: 0px;
}

div.box div.radios {}
div.box div.radios > label {
  margin-right: 0.5em;
}

div.goline {
  margin: 30px 0px 20px 0px;
  position: relative;
  padding-left: 120px; padding-top: 10px;
}
div.goline > * {
  display: none;
}
div.goline button {
  padding: 10px 0px; width: 100px;
  text-align: center;
  position: absolute; top: 0px; left: 0px;
}
div.goline button.start {
  font-weight: bold; color: #047063;
}
div.goline button.abort {}
div.goline span.finished {
    font-weight: bold; color: #047063;
}
div.goline span.error {
    color: #cc0000;
}
div.goline span.spinner {
    background-image: url(loader.gif); background-position: center; background-repeat: no-repeat;
    width: 30px; height: 1em;
    float: right; margin-right: 10px;
}

div.goline.state-initial button.start {display: inline;}

div.goline.state-ongoing button.start {display: inline;}
div.goline.state-ongoing button.abort {display: inline;}
div.goline.state-ongoing span.spinner {display: inline-block;}
div.goline.state-ongoing span.done {display: inline;}

div.goline.state-finished button.start {display: inline;}
div.goline.state-finished span.done {display: inline;}
div.goline.state-finished span.finished {display: inline;}

div.goline.state-error button.start {display: inline;}
div.goline.state-error span.error {display: inline;}
