<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="./furniture/favicon.ico"/>
		<title>téarma.ie</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="./furniture/furniture.js"></script>
		<link type="text/css" rel="stylesheet" href="./furniture/furniture.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	</head>
	<body>

    <div class="topbar">
      <div class="inside">
        <a class="current" href="home.html"><img src="./furniture/minilogo-tearma.png"/><span>téarma.ie</span></a><a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-white.png"/><span>foclóir.ie</span></a><a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-white.png"/><span>teanglann.ie</span></a></div>
    </div>

    <div class="envelope">
      <div class="rightie">

        <div class="logobox">
          <a href="./" class="logo"><img src="./furniture/tearma.png" alt="téarma.ie"/></a>
          <div class="title">
            <span class="ga" lang="ga">Bunachar Náisiúnta Téarmaíochta don Ghaeilge</span>
            &middot; <span class="en" lang="en">National Terminology Database for Irish</span>
          </div>
          <div class="icons">
            <a href="#" class="facebook fab fa-facebook"></a>
            <a href="#" class="twitter fab fa-twitter"></a>
          </div>
        </div>

        <div class="kickbox">
					<a class="sitelink" href="#">
            <span class="icon fas fa-plus-square"></span>
            <span class="ga" lang="ga">Taispeáin breis mionsonraí</span>
            <span class="en" lang="en">Show more details</span>
          </a>
					<a class="sitelink" href="#">
            <span class="icon fas fa-print"></span>
            <span class="ga" lang="ga">Leagan furasta le priontáil</span>
            <span class="en" lang="en">Printer-friendly version</span>
          </a>
        </div>

      </div>
      <div class="leftie">

				<div class="swapper">
					<a href="./">
						<span class="icon fas fa-search"></span>
						<span class="ga" lang="ga">Cuardach tapa</span>
            <span class="en" lang="en">Quick search</span>
					</a>
					<a  href="./adv"  class="current">
						<span class="icon fas fa-search-plus"></span>
            <span class="ga" lang="ga">Cuardach casta</span>
            <span class="en" lang="en">Advanced search</span>
          </a>
					<a  href="./dom">
						<span class="icon fas fa-sitemap"></span>
						<span class="ga" lang="ga">Brabhsáil</span>
						<span class="en" lang="en">Browse</span>
          </a>
				</div>

        <form class="multiline" action="./adv">
					<div class="lines">
          	<div class="line">
							<div class="label"><span class="text ga" lang="ga">Foclaíocht</span><span class="text en" lang="en">Wording</span></div>
							<input name="text" value="bean"/>
						</div>
						<div class="line">
							<div class="label"><span class="text ga" lang="ga">Fairsinge</span><span class="text en" lang="en">Extent</span></div>
							<select name="lang">
								<option value="ga">téarma iomlán &middot; complete term</option>
								<option value="ga">tús téarma &middot; start of term</option>
								<option value="ga">deireadh téarma &middot; end of term</option>
								<option value="ga">cuid ar bith de théarma &middot; any part of term</option>
								<option value="ga">cuid ar bith seachas tús nó deireadh &middot; any part except start or end</option>
								<option value="ga">téarmaí gaolmhara &middot; reated terms</option>
							</select>
						</div>
						<div class="line">
							<div class="label"><span class="text ga" lang="ga">Teanga</span><span class="text en" lang="en">Language</span></div>
							<select name="lang">
								<option value="ga">GA (Gaeilge &middot; Irish)</option>
								<option value="ga">EN (Béarla &middot; English)</option>
							</select>
						</div>
						<div class="line">
							<div class="label"><span class="text ga" lang="ga">Roinn chainte</span><span class="text en" lang="en">Part of speech</span></div>
							<select name="pos">
								<option value="">(is cuma &middot; any)</option>
							</select>
						</div>
					</div>
          <button class="submit">
            <span class="icon fas fa-search"></span>
						<span class="text ga" lang="ga">Cuardaigh</span><span class="text en" lang="en">Search</span>
          </button>
        </form>
				<div class="underform">
          <div class="left">
            <span class="ga" lang="ga"><a href="#">Treoir don chuardach casta</a></span>
            <span class="en" lang="en"><a href="#">Help with advanced search</a></span>
          </div>
        </div>

				<a class="kickboxToggler mergeUp" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
          <span class="icon fas fa-bars"></span>
          <span class="text ga" lang="ga">Roghanna</span>
          <span class="text en" lang="en">Options</span>
        </a>

				<div class="pager alone">
					<a href="#" class="left arrow">«</a>
					<a href="#" class="right arrow">»</a>
					<a href="#" class="page">1</a>
					<a href="#" class="page">2</a>
					<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
					<a href="#" class="page">8</a>
					<a href="#" class="page">9</a>
					<a href="#" class="page current">10</a>
					<a href="#" class="page">11</a>
					<a href="#" class="page">12</a>
					<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
					<a href="#" class="page">27</a>
					<a href="#" class="page">28</a>
				</div>

				<div class="tbd" style="height: 600px;"></div>

				<div class="pager">
					<a href="#" class="left arrow">«</a>
					<a href="#" class="right arrow">»</a>
					<a href="#" class="page">1</a>
					<a href="#" class="page">2</a>
					<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
					<a href="#" class="page">8</a>
					<a href="#" class="page">9</a>
					<a href="#" class="page current">10</a>
					<a href="#" class="page">11</a>
					<a href="#" class="page">12</a>
					<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
					<a href="#" class="page">27</a>
					<a href="#" class="page">28</a>
				</div>

      </div>
    </div>

    <div class="footer">
      <div class="inside">
        <div class="statement">
          <div><span class="label">Sonraí téarmaíochta © 2006–2018</span> <a target="_blank" href="https://www.forasnagaeilge.ie/">Foras na Gaeilge</a></div>
          <div><span class="label">Réiteach teicniúil © 2006–2018</span> <a target="_blank" href="https://www.gaois.ie/">Fiontar &amp; Scoil na Gaeilge, DCU</a></div>
        </div>
        <div class="icons">
          <a href="#" class="facebook fab fa-facebook"></a>
          <a href="#" class="twitter fab fa-twitter"></a>
        </div>
        <div class="sitelinks">
					<a class="sitelink" href="#">
            <span class="icon fas fa-info-circle"></span>
            <span class="ga" lang="ga">Eolas faoin suíomh seo</span>
            <span class="en" lang="en">About this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-question-circle"></span>
            <span class="ga" lang="ga">Conas an suíomh seo a úsáid</span>
            <span class="en" lang="en">How to use this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-comment"></span>
            <span class="ga" lang="ga">Cuir ceist téarmaíochta</span>
            <span class="en" lang="en">Ask a terminological question</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-download"></span>
            <span class="ga" lang="ga">Liostaí le híoslódáil</span>
            <span class="en" lang="en">Downloadable lists</span>
          </a>
        </div>
        <div class="externalinks">
          <a class="tearma" href="./"><img src="./furniture/minilogo-tearma.png"/>&nbsp;téarma.ie</a>
          <span class="sep">|</span>
          <a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-focloir.png"/>&nbsp;foclóir.ie</a>
          <span class="sep">|</span>
          <a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-teanglann.png"/>&nbsp;teanglann.ie</a>
        </div>
      </div>
    </div>

	</body>
</html>
