<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="./furniture/favicon.ico"/>
		<title>téarma.ie</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="./furniture/furniture.js"></script>
		<link type="text/css" rel="stylesheet" href="./furniture/furniture.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	</head>
	<body>

    <div class="topbar">
      <div class="inside">
        <a class="current" href="./"><img src="./furniture/minilogo-tearma.png"/><span>téarma.ie</span></a><a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-white.png"/><span>foclóir.ie</span></a><a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-white.png"/><span>teanglann.ie</span></a></div>
    </div>

    <div class="envelope">
      <div class="rightie">

        <div class="logobox">
          <a href="./" class="logo"><img src="./furniture/tearma.png" alt="téarma.ie"/></a>
          <div class="title">
            <span class="ga" lang="ga">Bunachar Náisiúnta Téarmaíochta don Ghaeilge</span>
            &middot; <span class="en" lang="en">National Terminology Database for Irish</span>
          </div>
          <div class="icons">
            <a href="#" class="facebook fab fa-facebook"></a>
            <a href="#" class="twitter fab fa-twitter"></a>
          </div>
        </div>

        <a class="kickboxToggler" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
          <span class="icon fas fa-bars"></span>
          <span class="text ga" lang="ga">Roghchlár</span>
          <span class="text en" lang="en">Menu</span>
        </a>

        <div class="kickbox">
					<a class="sitelink" href="#">
            <span class="icon fas fa-info-circle"></span>
            <span class="ga" lang="ga">Eolas faoin suíomh seo</span>
            <span class="en" lang="en">About this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-question-circle"></span>
            <span class="ga" lang="ga">Conas an suíomh seo a úsáid</span>
            <span class="en" lang="en">How to use this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-comment"></span>
            <span class="ga" lang="ga">Cuir ceist téarmaíochta</span>
            <span class="en" lang="en">Ask a terminological question</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-download"></span>
            <span class="ga" lang="ga">Liostaí le híoslódáil</span>
            <span class="en" lang="en">Downloadable lists</span>
          </a>
        </div>

      </div>
      <div class="leftie">

				<div class="swapper">
					<a href="./" class="current">
						<span class="icon fas fa-search"></span>
						<span class="ga" lang="ga">Cuardach tapa</span>
            <span class="en" lang="en">Quick search</span>
					</a>
					<a  href="./adv">
						<span class="icon fas fa-search-plus"></span>
            <span class="ga" lang="ga">Cuardach casta</span>
            <span class="en" lang="en">Advanced search</span>
          </a>
					<a  href="./dom">
						<span class="icon fas fa-sitemap"></span>
						<span class="ga" lang="ga">Brabhsáil</span>
						<span class="en" lang="en">Browse</span>
          </a>
				</div>

        <form class="textbox" action="./s">
          <div class="text"><input name="text"/></div>
          <button class="submit">
            <span class="icon fas fa-search"></span>
          </button>
        </form>
        <div class="underform">
          <div class="left">
            <span class="ga" lang="ga">Cuardaigh téarma Béarla nó Gaeilge</span>
            <span class="en" lang="en">Search for a term in English or Irish</span>
          </div>
        </div>

				<div class="sectitle">
					<span class="icon fas fa-bullhorn"></span>
					<span class="ga" lang="ga">Fógra</span>
					<span class="en" lang="en">Announcement</span>
				</div>
				<div class="tbd" style="height: 100px;"></div>

				<div class="sectitle">
					<span class="icon fas fa-calendar-alt"></span>
					<span class="ga" lang="ga">Téarma an lae</span>
					<span class="en" lang="en">Term of the day</span>
				</div>
				<div class="tbd" style="height: 300px;"></div>

				<div class="sectitle">
					<span class="icon fas fa-clock"></span>
					<span class="ga" lang="ga">Athruithe le déanaí</span>
					<span class="en" lang="en">Recent changes</span>
				</div>
				<div class="tbd" style="height: 300px;"></div>

				<div class="sectitle">
					<span class="icon fas fa-sitemap"></span>
					<span class="ga" lang="ga">Brabhsáil</span>
					<span class="en" lang="en">Browse</span>
				</div>
				<div class="domains">
					<%for(var i=0; i<metadata.domain.length; i++){%>
						<a href="./dom?superID=<%=metadata.domain[i].id%>" class="domain"><span class="ga" lang="ga"><%=metadata.domain[i].title.ga%></span> <span class="en" lang="en"><%=metadata.domain[i].title.en%></span> <span class="arrow">»</span></a>
					<%}%>
				</div>

      </div>
    </div>

    <div class="footer">
      <div class="inside">
        <div class="statement">
          <div><span class="label">Sonraí téarmaíochta © 2006–2018</span> <a target="_blank" href="https://www.forasnagaeilge.ie/">Foras na Gaeilge</a></div>
          <div><span class="label">Réiteach teicniúil © 2006–2018</span> <a target="_blank" href="https://www.gaois.ie/">Fiontar &amp; Scoil na Gaeilge, DCU</a></div>
        </div>
        <div class="icons">
          <a href="#" class="facebook fab fa-facebook"></a>
          <a href="#" class="twitter fab fa-twitter"></a>
        </div>
        <div class="sitelinks">
					<a class="sitelink" href="#">
            <span class="icon fas fa-info-circle"></span>
            <span class="ga" lang="ga">Eolas faoin suíomh seo</span>
            <span class="en" lang="en">About this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-question-circle"></span>
            <span class="ga" lang="ga">Conas an suíomh seo a úsáid</span>
            <span class="en" lang="en">How to use this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-comment"></span>
            <span class="ga" lang="ga">Cuir ceist téarmaíochta</span>
            <span class="en" lang="en">Ask a terminological question</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-download"></span>
            <span class="ga" lang="ga">Liostaí le híoslódáil</span>
            <span class="en" lang="en">Downloadable lists</span>
          </a>
        </div>
        <div class="externalinks">
          <a class="tearma" href="./"><img src="./furniture/minilogo-tearma.png"/>&nbsp;téarma.ie</a>
          <span class="sep">|</span>
          <a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-focloir.png"/>&nbsp;foclóir.ie</a>
          <span class="sep">|</span>
          <a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-teanglann.png"/>&nbsp;teanglann.ie</a>
        </div>
      </div>
    </div>

	</body>
</html>
