<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="terminologue.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<!-- <rule name="HTTP to Prod HTTPS redirect" stopProcessing="true"> -->
				  <!-- <match url="(.*)" /> -->
				  <!-- <conditions> -->
					<!-- <add input="{HTTPS}" pattern="off" ignoreCase="true" /> -->
				  <!-- </conditions> -->
				  <!-- <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" /> -->
				<!-- </rule>			 -->
				<rule name="hello">
					<match url="/*" />
					<action type="Rewrite" url="terminologue.js" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>
