<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="terminologue.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<!--<rule name="Force WWW and SSL" enabled="true" stopProcessing="true">
				  <match url="(.*)" />
				  <conditions logicalGrouping="MatchAny">
					  <add input="{HTTP_HOST}" pattern="^[^www]" />
					  <add input="{HTTPS}" pattern="off" />
				  </conditions>
				  <action type="Redirect" url="https://www.terminologue.org/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>-->
				<rule name="hello">
					<match url="/*" />
					<action type="Rewrite" url="terminologue.js" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors existingResponse="PassThrough" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
